   .container table,th,td {
        border: 2px solid black;
        border-collapse: collapse;
    }
hr{
    width:50%
}
    th {
        text-align: left;
    }
    body{

        background-image: url(../images/back-institut.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    a{
        text-decoration: none;
        color: black;
    }
.links dd a{
    color: white;
}
    .container p{
        text-align: left;
        font-size: 20px;
    }
    hr{
        border: 3px solid black;
        border-top: none;
    }
    .title{
        font-size: 25px;
        color: #ff0000;
    }
    h4{
        font-size: 20px;
    }
    .containerinfo{
        font-size: 20px;
    }
     .tabcontainer h3 {
color: black;
     }
     .tabcontainer table,th,td{
          border-collapse: collapse;
     }
     .tabcontainer th{
        
         border:2px solid white;
         background-color: #006666;
     }
     .tabcontainer tr{
         background-color: #b3cce6;
        border: none;
     }
      .tabcontainer  td {
          background-color: #ecf2f8;
          border: none;
          border-top: 2px solid #008080 ;
          border-left: 2px solid white;
      }
      .btn1{
color:black;
            padding: 12px 20px;
            background: transparent;
            border: 3px solid black;
            border-radius: 25px;
            outline: none;
            cursor: pointer;
            text-transform: uppercase;
             box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
           position: absolute;
           left: 90%;
           top: 5%;
      }
       